.project-cart{
    background-color: #0a2a4a;
    border: 1px solid #7fdbff;
    border-radius: 10px;
    padding: 10px;
}
.project-cart h3{
    color: #7fdbff;
    font-size: 25px;
}
.project-cart p{
    color: white;
    font-size: 18px;
}
.project-cart span{
    background-color: #7fdbff;
    color: #001f3f;
    padding: 6px 14px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 14px;
    margin-left: 10px;
}
.project-cart a {
    display: inline-block;
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    border: 1px solid #7fdbff;
    color: #7fdbff;
    margin-left: 20px;
}